<form method="post" action="{{ path('app_blague_delete', {'id': blague.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input  type="hidden" name="_token" value="{{ csrf_token('delete' ~ blague.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
